.container {
  width: 100%;
  height: 100%;
  background-color: rgb(103, 64, 116);
  text-align: center;
}
label {
  font-size: 1.2rem;
  font-weight: bolder;
}
#height,
#weight {
  width: 20%;
  height: 20%;
  margin-top: 0.4rem;
  padding: 1.2rem 1.2rem;
  border-radius: 1.5rem;
  background-color: rgb(150, 132, 156);
  border: 2px solid rgb(150, 132, 156);
  text-align: center;
  color: white;
  font-size: medium;
}
input:focus {
  outline: none;
  border: none;
  text-decoration: none;
  background-color: rgb(150, 132, 156);
  color: white;
}
button {
  width: 50%;
  height: 50%;
  margin-top: 0.4rem;
  padding: 1.2rem 1.2rem;
  border-radius: 1.5rem;
  background-color: rgb(150, 132, 156);
  border: 2px solid rgb(150, 132, 156);
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}
#result {
  text-align: center;
  color: white;
  font-size: medium;
}
#weight-guide {
  margin-top: 0.8rem;
  margin-left: 20%;
  margin-right: 20%;
  padding: 0.3rem;
  background-color: rgb(72, 44, 81);
  border-radius: 30%;
}
h3 {
  font-size: 1.5rem;
}
div p {
  font-size: 1.1rem;
}
