* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(103, 64, 116);
  text-align: center;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 0.5rem;
  border-bottom: solid 1px rgb(72, 44, 81);
  background-color: rgb(72, 44, 81);
}

nav a {
  font-size: 1.5rem;
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: solid 1px rgb(103, 64, 116);
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

nav a[aria-current="page"] {
  color: #ffffff;
  background-color: rgb(103, 64, 116);
}

main {
  padding: 3rem;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project-link {
  background-color: rgb(150, 132, 156);
  padding: 20px 30px;
  margin: 15px;
  border-radius: 15px;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid rgb(150, 132, 156);
  margin-top: 5px;
}
