html {
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
}
#wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  font-size: 25px;
}
h1 {
  padding-top: 3rem;
  color: #fff;
  text-align: center;
}
p {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding-bottom: 0.5rem;
}
form {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
  color: #fff;
  font-size: 25px;
}
#guess {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}
#guessField {
  width: 30%;
  height: 20%;
  margin-top: 0.4rem;
  padding: 1.2rem 1.2rem;
  border-radius: 1.5rem;
  background-color: rgb(150, 132, 156);
  border: 2px solid rgb(150, 132, 156);
  text-align: center;
  color: white;
  font-size: medium;
}
input:focus {
  outline: none;
  border: none;
  text-decoration: none;
  background-color: rgb(150, 132, 156);
  color: white;
}
#subt {
  width: 40%;
  height: 50%;
  margin-top: 1rem;
  border-radius: 1.5rem;
  background-color: rgb(72, 44, 81);
  border: 2px solid rgb(72, 44, 81);
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}
.guesses {
  color: white;
  padding: 8px;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 30%;
  /* margin-bottom: rem; */
}

.lastResult {
  color: white;
  padding: 6px;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 50%;
  background-color: rgb(72, 44, 81);
  margin-bottom: 2rem;
}

button {
  background-color: #141414;
  color: #fff;
  width: 250px;
  height: 50px;
  border-radius: 25px;
  font-size: 30px;
  border-style: none;
  margin-top: 30px;
}
