html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.center {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  font-weight: bold;
}
#clock {
  display: flex;
  height: 10%;
  width: 25%;
  font-size: 1.8rem;
  background-color: rgb(72, 44, 81);
  padding: auto 6rem;
  margin-top: 0.5rem;
  border-radius: 35px;
  justify-content: center;
  align-items: center;
  color: white;
}
